<!--
<!doctype html>
    <html>
        <link>
            <title>travelguide</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> &lt;!&ndash; load bootstrap css &ndash;&gt;
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> &lt;!&ndash; load fontawesome &ndash;&gt;
        <style>
            body        { padding-top:80px; }
        </style>
    </head>
        <body>
           <div class="container">
                <div class="jumbotron text-center">
                    <h1>
                        <span class="fa fa-lock">TravelGuide</span>
                    </h1>
                    <p>Login or Register with:</p>
                    <a href="/login" class="btn btn-info"><span class="fa fa-user"></span> Login</a>
                    <a href="/signup" class="btn btn-info"><span class="fa fa-user"></span> Sign up</a>
                    <div class="jumbotron text-center">
                        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                        <a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Twitter</a>
                    </div>
                </div>
            </div>
        </body>
    </html>
-->