.limit {
  word-wrap: break-word;
   max-width: 100%;
}
.margin {
   margin: 1%;

}
.row {
  margin: 0;
}
.col-sm-8.text-left {
  padding: 0;
}
.toggle {
  cursor: pointer;
}
hr {
  margin: 1%;
}
form {
  margin: 0.5% 0;
}
ul {
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5% 0;
  text-transform: capitalize;
}

slide {
  margin: auto;
  height: 25vw;
}
.item {
  text-align: center;

}
.item  img {
  max-width:80%;
  max-height:25vw;
  //display: inline-block;
  height: 100%;
}

.share-container {
  display: flex;
  align-items: center;

}
.share-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid #ccc;
}

h3 {
  display: flex;
  flex-direction: column-reverse;
  font-size: 2rem;
  margin: 0;
}
b {
  font-size: .7rem;
}

.scrollTop {
  position: fixed;
  bottom: 8%;
  right: 2%;
  cursor: pointer;
  transition: 500ms;
  z-index: 99;
}
.scrollTop:hover {
  transform: scale(1.2);
}
.sebm-google-map-container {
  height: 15vw;
}

#mapButton {
  margin-top: 5%;
}
.modal-body > .sebm-google-map-container {
  height: 40vw;
}
#datepicker {
  margin-top: 5%;
}
pre {
  white-space: pre-line;
  word-break: keep-all;
}

@media screen and (max-width: 320px) {
  slide {
    margin: auto;
    height: 50vw;
  }
  .item  img {
    max-height: 50vw;
   /* width: 100%;
    max-width:100%;*/
  }
  .modal-body > .sebm-google-map-container {
    height: 90vw;
  }

  .sebm-google-map-container {
    height: 30vw;
  }

}

