/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-family: "Lucida Console", Monaco, monospace !important;
}
.overlay {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: url("../src/assets/images/vacanta_(2).jpg")  repeat-y;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}
.row {
  margin: 0;
}
.bottom{
  padding-bottom: 4vw;
 }

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

span.icon-next.carousel-control-next-icon, span.icon-prev.carousel-control-prev-icon{
  font-size: 7vw;
  margin-top:  -50%;
  cursor: pointer;
}

.sb-buttons.sb-style.sb-style-colors {
  margin: 0;
}
.sb-style.sb-style-colors button:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 320px) {
  span.icon-next.carousel-control-next-icon, span.icon-prev.carousel-control-prev-icon{
    font-size: 17vw;
    margin-top:  -90%;
  }
  share-button > button.sb-show-count  {
    padding: .5em .4em;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 480px) {
  .bottom {
    padding-bottom: 20vw;
  }
  span.icon-next.carousel-control-next-icon, span.icon-prev.carousel-control-prev-icon{
    font-size: 9vw;
    margin-top:  -40%;
  }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
